@model IEnumerable<SeekSafe.UserAccounts>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Register", "Register")
</p>

@if(!String.IsNullOrEmpty(TempData["Msg"] as String))
{
    <div class="alert alert-success">@TempData["Msg"]</div>
}

<table class="table">
    <tr>
        <th>
           Seq #
        </th>
        <th>
            ID Number
        </th>
        <th>
            Username
        </th>
        <th>
            Role
        </th>
        <th>
            Action
        </th>
    </tr>
    @{ int i = 1; }
@foreach (var item in Model) {
    <tr>
        <td>@i</td>
        <td>
            @Html.DisplayFor(modelItem => item.userIDNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @{
                var roleName = "";
                if (item.roleID != null)
                {
                    seekEntities _db = new seekEntities();
                    var role = _db.UserRoles.FirstOrDefault(r => r.roleID == item.roleID);
                    roleName = role != null ? role.roleName : "";
                }
                @roleName
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.userID }) |
            @Html.ActionLink("Details", "Details", new { id=item.userID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.userID })
        </td>
    </tr>
    i++;
}

</table>
